.wrapper{
	margin: 8px;
	margin-top: 40px;
}

body{
	font-family: "Lucida Console";
	background-color: #FCECC9;
}

img{
	width: 300px;
}

.text-center{
	font-style: italic;
}

.Jumbotron{
	font-size: 30px;
}

.col-md-6{
	margin: 15px;
	background-color: #F0D2D1;
}

.container{
	width: 85%;
	margin: 30px auto;
	overflow: hidden;
}

.galleryItem img{
	max-width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.galleryItem h3{
	text-transform: uppercase;
	
}

.galleryItem{
	width: 27%;
	margin: 1.5% 1.5% 40px 1.5%;
	float: left;
}



