.wrapper{
	margin: 8px;
	margin-top: 40px;
}

body{
	font-family: "Lucida Console";
	background-color: #FCECC9;
}

/*img{
	width: 300px;
}*/

a:hover{
	color:pink;
}

.menu h4 a:hover{
	color: white;
}


.text-center{
	font-style: italic;
}

.Jumbotron{
	font-size: 30px;
}

.col-md-6{
	margin: 1%; 
	background-color: #FBF7E0;
}

.container{
	width: 95%;
	margin: 30px auto;
	overflow: hidden;
}

.galleryItem img{
	max-width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.galleryItem h3{
	text-transform: uppercase;
	
}

.col-md-5{
	margin: 0.5%;
}

.email{
	margin: 2%;
	margin-top: 5%;
}

.contact{
	background-color: #F0D2D1;
}

article{
	background-color: #FBF7E0;
	padding: 1%;
}

section{
	background-color: #FBF7E0;
	padding: 1%;
}

form{
	background-color: #FBF7E0;
	padding: 1%;
}

/*.thumbnail a>img, .thumbnail>img {
	height: 255px;
	width: 360px;
}
*/